# Secret keys
*.env

# Development files
*.log
*.db
*.db_shm
*.db_wal

# IDE files
.vscode/
.idea/
*.code-workspace

# Compiled Python files
*.pyc
*.pyo
*.pyd
*.cython-312.pyc
__pycache__/

# Dependency directories
venv/
env/

# Images
*.img

# Filled
filled*

