# Django project files
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Secret keys
*.env

# Development files
*.log
*.db
*.db_shm
*.db_wal

# IDE files
.vscode/
.idea/
*.code-workspace

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency directories
venv/
env/