Center Rog's FabLab
{{ "=" * 31 }}

User: {{ user }}
Bill No: {{ bill_id }}

Items:
{% for item in lines %}
{{ item.nice_name }}:{{ item.quantity }}@€{{ item.cost_per_unit }}
>{{ item.system_name }} €{{ item.cost }}
{{ "-" * 31 }}
{% endfor %}

      Total: €{{ total }}
{{ "=" * 31 }}
    {{ print_timestamp }}
