Center Rog - FabLab - Bill
{{ "=" * 31 }}

User: {{ user }}
Bill No: {{ bill_id }}

Items:
{% for item in lines %}
{{ item.system_name }}: {{ item.cost_per_unit }}
{{ item.quantity }} {{ item.nice_name }}:  €{{ item.cost }}
{{ "-" * 31 }}
{% endfor %}

           Total: €{{ total }}
{{ "=" * 31 }}
    {{ print_timestamp }}
